*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

h2{
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
}

div{
    text-align: center;
}

p{
    position: relative;
    margin: 10px auto;
}



#first{
    width: 100%;
    height: 753px;
    background-image: url("img/PORTFOLIOWEB.png");
    background-size: cover;
}

/*CREATE SOMETHING BEAUTIFUL*/
#app{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 180px;
    background-color: #ff6819;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23e25001' fill-opacity='1'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
#app a{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    background-color: #0000FF;
    display: block;
    position: relative;
    cursor: pointer;
    width: 250px;
    padding: 25px 80px;
    margin: 25px auto;
    box-shadow: 0 6px #1212B3;
    border-radius: 20px;
}

/*CONTACT*/
#contact{
    text-align: center;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
#contact h2{
    color: #1212B3;
}
.field{
    width: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

#contact button{
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #00ff00;
    display: block;
    position: relative;
    cursor: pointer;
    width: 70px;
    margin: 20px auto;
	box-shadow: 0 6px rgb(10, 189, 39);
    border-radius: 20px;
}

#contact button p{
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
}

#contact button:hover {
	box-shadow: 0 4px  rgb(10, 189, 39);
	top: 2px;
}

#contact button:active {
	box-shadow: 0 0 rgb(10, 189, 39);
	top: 6px;
}


/*FOOTER*/
footer{
    text-align: center;
    color: white;
    background-color: #1212B3;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

/*GITHUB BUTTON*/
a.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    background-color: #FF6819;
    display: block;
    position: relative;
    cursor: pointer;
    width: 70px;
    padding: 25px 80px;
    margin: 20px auto;
	box-shadow: 0 6px rgb(226, 80, 1);
    border-radius: 20px;
}

a.button:hover {
	box-shadow: 0 4px rgb(226, 80, 1);
	top: 2px;
}

a.button:active {
	box-shadow: 0 0 rgb(226, 80, 1);
	top: 6px;
}