*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
}

h2{
    font-family: 'Abril Fatface', Arial, Helvetica, sans-serif;
}

div{
    text-align: center;
}

p{
    position: relative;
    margin: 10px auto;
}



#first{
    width: 100%;
    height: 753px;
    background-image: url("img/PORTFOLIOWEB.png");
    background-size: cover;
}

/*CONTACT*/
#contact h2{
    color: #1212B3;
}
.field{
    width: 300px;
    border: 1px solid blue;
    border-radius: 5px;
    padding: 10px;
}

#contact button{
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #00ff00;
    display: block;
    position: relative;
    cursor: pointer;
    width: 70px;
    margin: 20px auto;
	box-shadow: 0 6px rgb(10, 189, 39);
    border-radius: 20px;
}

#contact button p{
    color: white;
    text-transform: capitalize;
    font-weight: 300;
    letter-spacing: 2px;
}

#contact button:hover {
	box-shadow: 0 4px  rgb(10, 189, 39);
	top: 2px;
}

#contact button:active {
	box-shadow: 0 0 rgb(10, 189, 39);
	top: 6px;
}


/*FOOTER*/
footer{
    text-align: center;
    color: white;
    background-color: #1212B3;
    margin: 0 auto;
    position: absolute;
    width: 100%;
}

/*FOOTER TEXT*/
.copy{
    
}
/*GITHUB BUTTON*/
a.button {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 2px;
    color: white;
    background-color: #FF6819;
    display: block;
    position: relative;
    cursor: pointer;
    width: 70px;
    padding: 25px 80px;
    margin: 20px auto;
	box-shadow: 0 6px rgb(226, 80, 1);
    border-radius: 20px;
}

a.button:hover {
	box-shadow: 0 4px rgb(226, 80, 1);
	top: 2px;
}

a.button:active {
	box-shadow: 0 0 rgb(226, 80, 1);
	top: 6px;
}