*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    letter-spacing: 1px;
    background-color: white;
}
#canvas{
    border: 5px solid black;
    cursor: pointer;
    background-color: white;
}
.controls{
    display: flex;
    width: 800px;
    justify-content: space-between;
    margin: 30px;
}
button{
    width: 100px;
    color: white;
    text-transform: uppercase;
    padding: 10px;
    margin: 7px;
    border: none;
    background-color: gray;
}

select{
    margin: 10px;
    padding: 10px;
    border: 1px solid grey;
}

.pink{
    background-color: pink;
}
.red{
    background-color: red;
}
.orange{
    background-color: orangered;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color:green;
}
.blue{
    background-color: skyblue;
}
.indigo{
    background-color: blue;
}
.violet{
    background-color: indigo;
}
.white{
    background-color: white;
    border: 1px solid black;
    color: black;
}
.black{
    background-color: black;
}
.goback{
    text-decoration: none;
    color: #0000ff;
    font-weight: 900;
    font-size: 30px;
    letter-spacing: 2px;
    padding-left: 115px;
}